<% redirect_if_not_authorized %>

<h1>Edit <%=@horse.name%></h1>

  <form action='/horses/<%=@horse.id%>' method="post">
  <input type="hidden" name="_method" value="PATCH">
    <p>Name: <input type="text" name="name" maxlength="18" value="<%=@horse.name%>"></p>
    <p>Sex:
    <%@sexes.each do |sex|%>
      <input type="radio" name="sex" value="<%=sex%>" <%="checked" if sex == @horse.sex%>>
      <label for="<%=sex%>"><%=sex%></label>
    <%end%>
    </p>
    <p>Color:
      <select name = "color">
      <%@colors.each do |color|%>
        <option value = "<%=color%>" <%="selected" if color == @horse.color%>><%=color%></option>
      <%end%>
      </select>
    </p>
    <p>Breed: <input type="text" name="breed" maxlength="40" value="<%=@horse.breed%>"></p>
    <p><input type="submit" name="submit" id="edit-submit" class="small-button"></p>
  </form>