<h1>All the horses at the stable</h1>
<hr>
<div class="content">
<div class="stable-display">
    <%@users_alpha_sort.each do |user| %>
        <%if user != current_user%>
            <h2><%=user.name%></h2>
            <ul>
            <%user.horses.sort_by(&:name).each do |horse|%>
                    <li><a class="horse-link" href="/horses/<%=horse.slug%>"><b><%=horse.name%></b></a></li>
            <%end%>
            </ul>
        <%end%>
    <%end%>
    </div>
</div>

<div class="sidebar">
    <% if current_user.horses.empty?%>
        <h2>You don't have any horses!</h2>
        <a href="/horses/new"><button class="small-button">Create a new horse</button></a>
    <%else%>
    <h2>Your horses</h2>
    <%current_user.horses.sort_by(&:name).each do |horse| %>
        <li><a class="horse-link" href="/horses/<%=horse.slug%>"><b><%=horse.name%></b></a></li>
    <%end%>
    <%end%>
</div>