<h1>Welcome, <%=current_user.name%></h1>
<h2>Here are all the horses at the stable</h2>
<div class="content">
    <%User.all.order(:name).each do |user| %>
        <%if user != current_user%>
            <h2><%=user.name%></h2>
            <%user.horses.order(:name).each do |horse|%>
                <p><a href="/horses/<%=horse.id%>"><b><%=horse.name%></b></a></p>
            <%end%>
        <%end%>
    <%end%>
</div>
<div class="sidebar">
    <h2>Your horses</h2>
    <%current_user.horses.order(:name).each do |horse| %>
        <p><a href="/horses/<%=horse.id%>"><b><%=horse.name%></b></a></p>
    <%end%>
</div>