<h1>Create a new horse</h1>

<% redirect_if_not_logged_in %>
  <form action='/horses' method="post">
    <p>Name: <input type="text" name="name" maxlength="18"></p>
    <p>Sex:
    <%@sexes.each do |sex|%>
      <input type="radio" name="sex" value="<%=sex%>" <%="checked" if sex == "Mare"%>>
      <label for="<%=sex%>"><%=sex%></label>
    <%end%>
    </p>
    <p>Color:
    <select name = "color">
    <%@colors.each do |color|%>
    <option value = "<%=color%>"><%=color%></option>
    <%end%>
    </select>
    </p>
    <p>Breed: <input type="text" name="breed" maxlength="40"></p>
    <p><input type="submit" name="submit" id="new-submit" value="Create new horse" class="small-button"></p>
  </form>