<div id="content">
<div id="horse-header"><i class="fas fa-horse color-horse-<%=@color%>"></i><h1><%=@horse.name%></h1></div>
<ul>
<li>Owner: <%=@horse.user.name%></li>
<li>Sex: <%=@horse.sex%></li>
<li>Color: <%=@horse.color%></li>
<li>Breed: <%=@horse.breed%></li>
</ul>
<%if @horse.user == current_user%>
<div id="button-box">
   <a href="/horses/<%=@horse.id%>/edit"><button class="update">Edit Horse</button></a>

   <form method="POST" action="/horses/<%= @horse.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Horse" class="update">
   </form>
   <%end%>
</div>
</div>

<%# <a href="/horses"><button class="user-nav">Stable</button></a> %>