<h1><%=@horse.name%></h1>
<div class="content">
<h2>Owner: <%=@horse.user.name%></h2>
<ul>
<li>Sex: <%=@horse.sex%></li>
<li>Color: <%=@horse.color%></li>
<li>Breed: <%=@horse.breed%></li>
</ul>
<%if @horse.user == current_user%>
   <a href="/horses/<%=@horse.id%>/edit">Edit Horse</a>

   <form method="POST" action="/horses/<%= @horse.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Horse">
   </form>
   <%end%>
</div>
<div class="sidebar">
<i class="fas fa-horse color-horse"></i>
</div>